afengzi-spring-mydefined/src/main/resources/conf/springtag.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://com.afengzi.user.define/schema/test"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://com.afengzi.user.define/schema/test">

    <xsd:element name="custom" type="customType">
    </xsd:element>

    <xsd:complexType name="customType">
        <xsd:attribute name="id" type="xsd:ID" />
        <xsd:attribute name="address" type="xsd:string"/>
        <xsd:attribute name="port" type="xsd:integer"/>
        <xsd:attribute name="destination" type="xsd:string"/>

    </xsd:complexType>

</xsd:schema>